/bin/
/gen/
/obj/
/libs/
**/*.o
**/*.d
**/._*
/jni/olsrd_builddata_android.c
/local.properties
/assets/serval.zip
/assets/manifest
/data/bin/adhoc
/data/bin/dna
/data/bin/olsrd
/data/bin/batmand
/data/bin/iwlist
/data/bin/servald
/data/conf/chipset.zip
/data/bin/servald
/res/values/version.xml
.DS_Store
