/bin/
/gen/
/obj/
/libs/
.settings/
**/*.o
**/*.d
**/._*
/local.properties
/assets/serval.zip
/assets/log.txt
/data/bin/adhoc
/data/bin/dna
/data/bin/olsrd
/data/bin/batmand
/data/bin/iwlist
/data/conf/chipset.zip
/res/values/version.xml
.DS_Store
/native/adhoc
/jni/olsrd/src/builddata_android.c
