/bin/
/gen/
/obj/
/libs/
/testlog/
**/*.o
**/*.d
**/._*
/jni/olsrd_builddata_android.c
/local.properties
/assets/serval.zip
/assets/manifest
/data/bin/adhoc
/data/bin/iwlist
/data/bin/servald
/res/values/version.xml
.DS_Store
proguard-project.txt
