<?xml version="1.0" encoding="utf-8"?>
	<!--
		Copyright (C) 2010 Felix Bechstein
	-->
	<!--
		This file is part of AndGMXsms. This program is free software; you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation; either
		version 3 of the License, or (at your option) any later version.
	-->
	<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.ub0r.android.websms.connector.common" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="ConnectorAPI">
		<activity android:name=".InfoActivity" android:icon="@drawable/icon"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7" />
</manifest>
